# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Eagle backup files
*.b#*
*.s#*

# Manufacturing directories (deep dark secrets go here)
mfg/
gerbers/
